@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

/*-------------Elementos generales-----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
 }
li{
    list-style:none;
 }
a{
     text-decoration: none;
 }




body{
    background-color: #071E22;
    font-family: 'Rubik', sans-serif;

}

::-webkit-scrollbar{
    width: 8px;   
}
::-webkit-scrollbar-track{
    background-color: #f3ebeb07;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #F433AB;
}

  /*----------------FOOTER---------------*/
footer{
    margin-top: 15%;
    background: linear-gradient(to bottom, #071E22, #f433aa81);
    height: 40vh;
    width: 100%;
}
.contenedorfooter{
      padding-top: 80px;
      padding-bottom: 75px;
}
.integrantes, .develop{
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: center;
      flex-direction:row;
      padding-bottom: 0px;
      padding-top: 30px;
} 
.integrantes h3{
     margin:0px 20px;
}


/*--------------Barra de navegacion-----------*/
.logo{
    margin-left: 5%;
}
.logotexto{
    text-shadow: 2px 2px 2px #efeff1;
    color: #071E22;
}
.logo img{
    width: 60px;
    height: 60px;
}
.navbar{
    padding: 20px ;
    margin: 8px 0px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler, .navbar label{
    display: none;
}
.busqueda{
    border-radius: 50px;
    border-style: none;
    outline: none;
    padding: 6px 6px;
    color: #071E22;
}


/*-------------------------INDEX----------------------*/
/*------------Titulo principal + foto ---------------*/

.tituloprincipalyfoto{
    margin-top: 3%;
    padding: 150px;
    background-image: url("../img/SoundWave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px;
    
}
.tituloprincipal{
    font-size: 40px;
}
.music{
    color:#F433AB;
    font-style: italic;
}

/*----------------ARTISTAS----------*/
.artistasgeneral{
    margin-top: 200px;
}
.titulosindex{
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
    font-size: 55px;

}
.artistas{    /* artistas y albums usan los mismos*/
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
/*---cards de artistas*/
  .card {
    transition: 0.3s;
    width: 18%;
    border-radius: 5px;
    margin: 30px 50px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  }
  .container {
    padding: 2px 16px;
  }
  .card img{
      width: 100%;
      height: 36vh;
      border-radius: 5px;
  }


/*------------------ALBUMS----------------*/
.albumsgeneral{
    margin-top: 15%;
    padding: 5%; 
}
.albums{/*se usa para la pagina de generos y en el index en l aparte de los albumnes*/
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;    
}

/*---cards de albums*/
  .cardalbum {
    transition: 0.3s;
    width: 13%;
    border-radius: 5px;
    margin: 30px 30px;
  }
  .albums:hover .cardalbum {
    opacity:0.3;
  }
  .albums .cardalbum:hover {
    opacity:1;
  }
  .cardalbum img{
      width: 100%;
      height: 30vh;
      border-radius: 5px;
  }
  .containeralbum {
    padding: 2px 16px;
  }



/*------------------SONGS----------------*/
.canciones{
    margin: 150px 120px 40px 120px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px;

}
.titulocancion{
    color: #F433AB;
    font-style: italic;
    font-size: 55px;
}
.contenedorcanciones{
   /* background-color: #d80d8a;*/
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
}
.marcador{
   /* background-color: orange;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    justify-content: flex-start;
}

.contenedorlinkscanciones{
    /*background-color: #b3ff51;*/
    margin-right: 20px;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.marcador .contenedorlinkscanciones a{
   /* background-color: #0dd5d8;*/
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    font-size: 25px;
}
.marcador .contenedorlinkscanciones img {
   /* background-color: red;*/
    border-radius: 4%;
    box-shadow: 0 0 1px #b3ff51, 0 0 2px #b3ff51, 0 0 6px #b3ff51, 0 0 12px #b3ff51, inset 0 0 1px #b3ff51, inset 0 0 2px #b3ff51, inset 0 0 6px #b3ff51, inset 0 0 12px #b3ff51;
}
/*.prueba p{
    background-color: blue;
    padding-left: 2%;
    font-size: 20px;
}*/


/*------------DETAIL-ARTIST-----------*/
  
.detallesmargen{ /*margenes para todos los detalles*/
    margin: 150px 120px 40px 120px;
}
.titulosdetalles{ /*titulos para todos los detalles*/
    color: white;
    font-style: italic;
    font-size: 55px;
}
.titulosdetalleh3{/*H3 para todos los detalles*/
    font-size: 5vh;
    margin-top: 3%;
}
.artistafoto {
    max-width: 30%;
    border-radius: 2%;
}
.contenedorinfoartist{ /* Este se usa en Detail-generos.html y en detail-artist--este es igual al .albumscontenedor, despues vemos si los unimos o los dejamos asi*/
    margin-top: 2%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.26);
    border-radius: 1%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 5%;
}
.contenedorinfoartist p{
    margin-top: 1%;
    text-align: center;
}
.top5{
    list-style:decimal;
    margin-top: 20%;
}


/*------------DETAIL-ALBUM----------*/
.albumscontenedor {
    padding: 3%;
    margin-top: 2%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.26);
    border-radius: 1%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.fotoalbum{
    max-width: 45%;
    border-radius: 2%;
}
.descrpcionalbum{
    text-align: center;
    margin: 2% 0%;
}

.listadecancionesalbum{
    margin-top: 5%;
    list-style-type: circle;
    
}
.albumscontenedor ol{
    margin-top: 2%;
}


/*------------DETAIL-TRACK----------*/
.contenedorgeneralinfocancion{ 
    margin-top: 2%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.26);
    border-radius: 1%;
    padding: 5%;
}
.infocancioncontenedor{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
}
.cancionalbumfoto {
    max-width: 40%;
    border-radius: 4%;
}
.infocancion{
    margin-left: 4%;
}
.infocancion ol{
    margin-top: 7%;
}
.listainfocancion{
    margin-left: 7%;
    width: max-content;
    padding: 1%;
    margin-top: 2%;
    list-style-type: circle;
}
.iramiplaylist{
    margin-top: 50%;
}
.iramiplaylist a{
    border: 0.5px solid #d80d8a;
    background-color: #a1377942;
    padding: 2% 7%;
    border-radius: 8px;
    margin-right: 5%;
}
.reproductor{
    margin-top: 2%;
    width:100%
}


/*--------------GENEROS-------------*/
.contenedorgeneros{
    margin-top: 2%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.26);
    border-radius: 1%;
    padding: 5%;
}
.cardgenero {
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    margin: 30px 30px;
}
.albums:hover .cardgenero {
    opacity:0.3;
}
.albums .cardgenero:hover {
    opacity:1;
}
.cardgenero img{
      width: 100%;
      height: 30vh;
      border-radius: 5px;
}

.containeralbum{
    padding: 2px 16px;
}


/*------------DETAIL-GENEROS----------*/

.listagenerosartistas{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}
.contenedorinfoartist img{
    border-radius: 5%;
}

.generosdetallelista{
    text-align: center;
    margin: 5% 5%;
}


/*------------PLAYLIST----------*/
.contenedorplaylist {
    padding: 3%;
    margin-top: 2%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.26);
    border-radius: 1%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}
.musicaplay{
    margin-right: 2%;
}
.corazon{
    align-self:center;
}


/*------------SEARCH RESULTS----------*/
.contenedorbusqueda{
    padding: 3%;
    margin-top: 2%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.26);
    border-radius: 1%;
 }
 .contenedorbusquedaseccion{
     line-height: 40px;
 }
.resultadosdebusqueda a{
    color:  rgb(17, 115, 148);
}
.olalbumsariana img{
    height: 225px;
    width: 225px;
    border-radius: 5%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.olalbumsariana{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}
.olalbumsariana a{
    color: white;
}
.h2results{
    margin: 2%;
}
.resultadosdebusqueda ol li{
    list-style-type: circle;
    margin-left: 3%;
}


/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------Responsive------------------------------------------*/
@media(max-width:460px){

    /*----------NAVBAR-----------*/
   
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
    /*------------------------*/


    .titulosdetalles{ /*titulos para todos los detalles*/
        color: white;
        font-style: italic;
        font-size: 40px;
    }
    .detallesmargen{ /*margenes para todos los detalles*/
        margin: 100px 15px 40px 15px;
    }
    .titulosdetalleh3{/*H3 para todos los detalles*/
        font-size: 3vh;
        margin-top: 3%;
    }
    .albums{/*se usa para la pagina de generos y en el index en l aparte de los albumnes*/
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .contenedorinfoartist{ /* Este se usa en Detail-generos.html y en detail-artist--este es igual al .albumscontenedor, despues vemos si los unimos o los dejamos asi*/
        margin-top: 2%;
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.26);
        border-radius: 1%;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 3%;
    }


    /*----------INDEX-----------*/
    .tituloprincipalyfoto{
        margin-top: 3%;
        padding: 45px;
        background-image: url("../img/SoundWavemobile.svg");
        background-repeat: no-repeat;
       
    }
    .tituloprincipal{
        font-size: 25px;
    }
    .music{
        color:#F433AB;
        font-style: italic;
    }
    .titulosindex{
        text-align: center;
        margin-bottom: 35px;
        margin-top: 80px;
        font-style: italic;
        font-size: 35px;
    
    }
    .titulocancion{
        color: #F433AB;
        font-style: italic;
        font-size: 35px;
    }
    .artistas{    /* artistas y albums usan los mismos*/
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

     /*----------card de artistas y album index-----------*/
    .card, .cardalbum {
        transition: 0.3s;
        width: 70%;
        border-radius: 5px;
        margin: 30px 0px;
      }

      
     /*----------seccion canciones index-----------*/

    .canciones{
        margin: 100px 10px 100px 10px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }
    .marcador{
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         align-items: center;
         margin: 15px;
         justify-content: center;
     }
     .marcador .contenedorlinkscanciones a{
         font-size: 20px;
     }

    /*----------GENEROS-----------*/
    .cardgenero {
        transition: 0.3s;
        width: 80%;
        border-radius: 5px;
        margin: 30px 30px;
    }


    /*----------DETAIL-TRACK------------*/
    .contenedorgeneralinfocancion{
        margin-top: 5%;
    }
    .infocancioncontenedor{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
    }
    .cancionalbumfoto {
        max-width: 60%;
    }
    .infocancion{
     margin-top: 3%;
    }
    .infocancion ol{
        margin-top: 5%;
        margin-left: 5%;
    }
    .listainfocancion{
        margin-left: 0%;
        padding: 1%;
        margin-top: 2%;
        list-style-type: circle;
    }
    .iramiplaylist{
        text-align: left;
        margin-top: 15%;
        margin-bottom: 5%;
    }   



    /*----------DETAIL-GENEROS------------*/
    .listagenerosartistas{
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content:space-around;
        align-items: flex-start;
    }
   
    .generosdetallelista{
        text-align: center; 
        margin: 3% 0%;
    }
    .contenedorinfoartist img{
        border-radius: 5%;
    }


    /*------------PLAYLIST----------*/
    .contenedorplaylist {
        margin-top: 4%; 
        margin-bottom: 10%;
    }
    .musicaplay{
        margin-right: 0%;
        width: 100%;
    }
    .corazon{
        margin-top: 3%;
    }
     
    
}

