@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

/*-------------Elementos generales-----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
 }
li{
    list-style:none;
 }
a{
     text-decoration: none;
 }


body{
    background-color: #071E22;
    font-family: 'Rubik', sans-serif;

}
input{
    color: #000000;
}
::-webkit-scrollbar{
    width: 8px;   
}
::-webkit-scrollbar-track{
    background-color: #f3ebeb07;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #F433AB;
}