.cancioncontenedor {
    padding: 1%;
    margin-top: 2%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.26);
    border-radius: 1%;
    display: flex;
    align-items: stretch;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content:space-around;
}

.fotoCancion{
    border-radius: 2%;
    margin-top: 5%;


}
.detallesmargen{ /*margenes para todos los detalles*/
    margin: 150px 120px 40px 120px;

}
.descrpcioCancion{
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.descrpcionalbum h3{
    margin-top: 6%;
}

.tituloCancion{
    font-size: 35px;
    margin-bottom: 6%;
}

.botonFavsCancion{
    margin-top: 5%;
    padding: 2%;
    background-color:#ff009d;
    border: none;
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 5%; 
}
.musica{
    margin-top: 50px;
}
