.artistasgeneral{
    margin-top: 200px;
}
.titulosindex{
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
    font-size: 55px;

}
.artistas{    /* artistas y albums usan los mismos*/
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
/*---cards de artistas*/
  .card {
    transition: 0.3s;
    width: 18%;
    border-radius: 5px;
    margin: 30px 50px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  }
  .container {
    padding: 2px 16px;
  }
  .card img{
      width: 100%;
      height: 36vh;
      border-radius: 5px;
  }
.botonVermasMenos{
    background-color: #ffaa00;
    border: none;
    border-radius: 5px;
    padding: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;

}